/* variables */
@media screen and (max-width: 768px) {
  main {
    background-color: darkcyan;
    display: grid;
    grid-template-areas: "about" "portfolio" "aside"; }
  .aside-oferta ul li {
    display: inline-block; } }

@media screen and (max-width: 425) {
  .header-calzado img {
    display: none; }
  .header-calzado div {
    text-align: center; } }

/* media mas chico*/
@media screen and (max-width: 320px) {
  .div-input {
    height: 750px;
    margin: 20px;
    padding: 20px;
    background-color: rgba(153, 50, 204, 0.452); }
  .header-calzado img {
    display: none; }
  .header-calzado div {
    text-align: center; } }

/*estilo-imagen*/
.imagen-oferta {
  text-align: center; }

.contenido {
  background-color: aqua;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); }

.contenido div {
  background-color: blue;
  border: solid 1em green;
  text-align: center;
  font-size: 3em; }

.div-input {
  margin: 20px 60px 20px 60px;
  padding: 20px 60px 20px 60px;
  background-color: beige; }

.contenedor {
  height: 300px;
  background-color: bisque;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas: "header header header" "main  main main" "div div div" "footer footer footer"; }

.contenedor div {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  background-color: blueviolet;
  border: solid 1px red; }

.item-a {
  grid-area: header;
  font-size: 2em; }

.item-b {
  grid-area: main;
  font-size: 2em;
  color: brown; }

.item-c {
  grid-area: div; }

.item-d {
  grid-area: nav; }

.item-e {
  grid-area: footer; }

.item-f {
  grid-area: footer;
  margin: 10px; }

/* Estilos header calzado*/
.header-calzado {
  background-color: darkkhaki;
  padding: 48px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

/*main calzado*/
main {
  background-color: darkcyan;
  display: grid;
  grid-template-areas: "about aside" "portfolio aside"; }

.about-oferta {
  grid-area: about;
  text-align: center; }

.about-oferta p {
  max-width: 500px;
  margin: auto; }

.section-oferta {
  grid-area: portfolio;
  text-align: center; }

.lista-oferta {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.aside-oferta {
  grid-area: aside;
  background-color: crimson; }

.aside-oferta ul {
  list-style-type: none;
  text-align: center; }

/*footer calzado*/
.footer-calzado {
  text-align: center; }

footer {
  color: darkblue;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  text-align: center;
  padding: 60px 10px 60px 10px;
  background-color: lightcyan; }
