footer {
    
    color: darkblue;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: center;
    padding: 60px 10px 60px 10px;
    background-color:lightcyan
}
